<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context/ 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!--  Credit Card beans Definitaions -->
    
    <bean id="credit" class="com.mypack.bean.CraditCardPayment" />
    
     <!--  Debit Card beans Definitaions -->
     <bean id="debit" class="com.mypack.bean.DebitCardPayment"/>
     
     <!-- Zeta Card beans Definitations  -->
     <bean id="zeta" class="com.mypack.bean.ZetaCardPayment"/>
     
     <!-- PaymentProcessor Definitations  -->
     <bean id="paymentpro" class="com.mypack.bean.PaymentProcessor">
     <property name="ipayment" ref="debit"></property>
     </bean>
    
    
</beans>
